body{
    background-color: #f6f8fa;
}

img{
    height: 500px;
    border-radius: 15px;
}

.main-area{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 150px 0;
}

.tagline{
    height: 100%;
    font-size: 4rem;
    word-wrap: break-word;
}

.colored-text{
    font-size: 5rem;
    font-weight: 700;
    color: #db2b39;
}