*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  }
  .navbar{
     display:flex;
     justify-content: space-around;
     align-items: center;
     padding-top: 10px;
  }
  .navbar ul{
      /* background-color: yellow; */
      display:flex;
      list-style-type: none;
      justify-content: space-around; 
      align-items: center;
  }
  
  .navbar ul li a{
      margin: 0 50px;
      text-decoration: none;
      color: black;
  }
  
  .register{
      display: flex;
  }
  
  .login, .signup{
      margin: 0 10px;
      border: 2px solid black;
      padding: 3px 10px 5px 10px;
      border-radius: 23px;
      background-color: black;
  }
  
  .login a{
      text-decoration: none;
      color: white;
      font-weight: 600;
  }
  
  .signup a{
      text-decoration: none;
      color: white;
      font-weight: 600;
  }
  